@font-face {
	font-family: 'Churchill';
	src: url("../fonts/bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	font-family: Arial, Tahoma, sans-serif;
	color: #054e60;
	padding: .5rem;
}

@media screen and (min-width: 57.5em) {
	body {
		padding: 1rem;
	}
}

.component {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 59.125rem;
	padding: 2rem 1rem;
	margin: 0 auto;
	background-color: #f5f5f5;
	-webkit-box-shadow: 0 0.5em 0.5em -0.5em #676767;
	        box-shadow: 0 0.5em 0.5em -0.5em #676767;
}

.component * + * {
	margin-top: 3rem;
}

.slogan-checklist-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.slogan {
	color: #00466a;
	font-family: "Churchill";
	font-size: 2.3125rem;
	text-align: center;
	margin: 0;
}

.checklist {
	list-style-type: none;
	padding-left: 0;
	max-width: 21.125em;
}

.checklist__item {
	background-image: url("../img/icons/tick.png");
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 3em;
	min-height: 2.25em;
}

.checklist__item + * {
	margin-top: 2em;
}

.image-speech-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.image {
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
}

.image__img {
	max-width: 100%;
	height: auto;
}

.speech {
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	margin-left: 2.5rem;
	background-color: #bde5ff;
	border-radius: 1em;
	position: relative;
	max-width: 16.25em;
	margin-top: 0;
}

.speech::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 2em solid transparent;
	border-top: 1.5em solid #bde5ff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 20px;
	right: 100%;
	top: 30%;
}

.speech__text {
	font-family: "Churchill";
	font-size: calc(1rem + 3vw);
	margin: 0;
	color: #00466a;
	text-align: center;
	padding: .75em .25em;
}

@media screen and (min-width: 25em) {
	.slogan {
		padding: 0 1em;
	}
	.image {
		-ms-flex-preferred-size: 60%;
		    flex-basis: 60%;
	}
}

@media screen and (min-width: 57.5em) {
	.component {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding: 1.21875rem 1.437rem;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		min-height: 29.25rem;
	}
	.image-speech-wrap {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		width: 100%;
	}
	.image {
		width: 100%;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.image__img {
		display: block;
	}
	.speech {
		-ms-flex-preferred-size: 75%;
		    flex-basis: 75%;
		margin-left: 3rem;
	}
	.speech__text {
		font-size: 3rem;
		padding: .5em .25em;
	}
	.slogan-checklist-wrap {
		width: 27.125rem;
		margin-top: 0;
	}
	.slogan {
		max-width: none;
		margin: 0;
		padding: 0;
	}
	.checklist {
		max-width: 16em;
	}
}

/*# sourceMappingURL=style.css.map */
