html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $fontBody;
  color: $colourTextBody;
  padding: .5rem;

  @media screen and (min-width: $mqwide) {
    padding: 1rem;
  }
}
