.component {

  & * + * {
    margin-top: 3rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 59.125rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: #f5f5f5;
  box-shadow: 0 0.5em 0.5em -0.5em #676767;
}

.slogan-checklist-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  color: $colourTextBold;
  font-family: $fontHeading;
  font-size: 2.3125rem;
  text-align: center;
  margin: 0;
}

.checklist {
  list-style-type: none;
  padding-left: 0;
  max-width: 21.125em;
}

.checklist__item {

  & + * {
    margin-top: 2em;
  }

  background-image: url('../img/icons/tick.png');
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 3em;
  min-height: 2.25em;
}

.image-speech-wrap {
  display: flex;
  align-items: center;
}

.image {
  flex-basis: 50%;
}

.image__img {
  max-width: 100%;
  height: auto;
}

.speech {
  flex-basis: 50%;
  margin-left: 2.5rem;
  background-color: #bde5ff;
  border-radius: 1em;
  position: relative;
  max-width: 16.25em;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2em solid transparent;
    border-top: 1.5em solid #bde5ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    right: 100%;
    top: 30%;
  }
}

.speech__text {
  font-family: $fontHeading;
  font-size: calc(1rem + 3vw);
  margin: 0;
  color: $colourTextBold;
  text-align: center;
  padding: .75em .25em;
}

@media screen and (min-width: 25em) {

  .slogan {
    padding: 0 1em;
  }

  .image {
    flex-basis: 60%;
  }

}

@media screen and (min-width: $mqwide) {

  .component {
    flex-direction: row;
    padding: 1.21875rem 1.437rem;
    justify-content: space-between;
    min-height: 29.25rem;
  }

  .image-speech-wrap {
    order: 2;
    width: 100%;
  }

  .image {
    width: 100%;
    flex-basis: auto;
  }

  .image__img {
    display: block;
  }

  .speech {
    flex-basis: 75%;
    margin-left: 3rem;
    margin-top: 0;
  }

  .speech__text {
    font-size: 3rem;
    padding: .5em .25em;
  }

  .slogan-checklist-wrap {
    width: 27.125rem;
    margin-top: 0;
  }

  .slogan {
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .checklist {
    max-width: 16em;
  }

}
